@font-face {
    font-family: AmaticSC-Bold;
    src: url(../fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: AmaticSC-Regular;
    src: url(../fonts/AmaticSC-Regular.ttf);
}

*{
    box-sizing: border-box;
}

/* HEADER */
header{
    text-align: center;
    border-radius: 15px;
    text-shadow: 4px 3px 0px #7A7A7A;
    color: #FFFFFF;
    margin: auto;
    font-family: AmaticSC-Bold, Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: linear-gradient(90deg, rgba(174,221,238,1) 4%, rgba(180,212,217,1) 51%, rgba(194,221,252,1) 100%);
    cursor: default;
}

header h3{
    margin-top: -65px;
    font-size: 35px;
}

/* BODY */
body{
    background-image: url(../img/fondo.png);
}

/* SECTION */
section{
    margin: 5%;
    font-size: 25px;
    text-shadow: 1px 1px 0px #7A7A7A;
    font-family: AmaticSC-Regular, Arial, Helvetica, sans-serif;
}

.frutaImg{
    border-radius: 5%;
    transition: all .2s ease-in-out;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-color: #000000a4;
}

.frutaImg:hover{
    transform: scale(1.1, 1.1);
}

.contenedor-frutas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}

.contenedor-frutas > div{
    text-align: center;
}

.contenedor-frutas > div > h2{
    margin: 5px;
}

button{
    border-radius: 15px;
    display: block;
    width: 35%;
    margin: auto;
    margin-top: 5%;
    cursor: pointer;
    font-family: AmaticSC-Bold, Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-shadow: 4px 3px 0px #7A7A7A;
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(174,221,238,1) 4%, rgba(180,212,217,1) 51%, rgba(194,221,252,1) 100%);
}

fieldset{
    width: 50%;
    margin: 4% auto auto;
    display: flex;
    height: auto;
    border-radius: 5px;
}

textarea{
    border-radius: 15px;
    width: 100%;
}

legend{
    font-size: 48px;
    text-shadow: 3px 3px 0px #7A7A7A;
}

/* FOOTER */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.178);
}

footer > p{
    font-family: Arial, Helvetica, sans-serif;
}

footer > p > a{
    font-family: Arial, Helvetica, sans-serif;
}